.container {
	width: 100%;
	height: fit-content;
	justify-content: center;
}

.containerInput {
    position: relative;
    padding: 0 0 0 0;
    margin: 20px auto;
    width: 300px;
}

.searchIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.searchInput {
    height: 30px;
    margin: 0;
    border: 0;
    padding-right: 40px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    color: var(--text);
    background: var(--secundaryBackground);
    border-radius: 2px 20px;
}

.containerPlaylists {
    padding: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
}

.playlistAdd {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border-top-right-radius: 25px;
    background: var(--secundaryBackground);
    box-shadow: 3px 3px 6px 0 var(--primaryBackground);
    cursor: pointer;
    transition: .2s filter;
}

.playlistAdd:hover {
    filter: brightness(75%);
}

.modalInputNewPlaylist {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputNewPlaylist {
    background: var(--secundaryBackground);
    border: 0;
    width: 450px;
    box-shadow: 1px 1px 4px 0 var(--fourth);
    padding: 15px 25px;
    border-radius: 5px;
    color: var(--text);
    font-weight: 400;
    font-size: 20px;
}
