.container {
	width: 100%;
	height: fit-content;
	justify-content: center;
}

.containerInput {
    position: relative;
    padding: 0 0 0 0;
    margin: 20px auto;
    width: 300px;
}

.searchIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.searchInput {
    height: 30px;
    margin: 0;
    border: 0;
    padding-right: 40px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    color: var(--text);
    background: var(--secundaryBackground);
    border-radius: 2px 20px;
}

.containerInput svg {
	cursor: pointer;
}

.containerVideos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 5px;
}

.containerVideo {
    padding: 10px;
    background: var(--secundaryBackground);
    border-radius: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.containerVideo img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s filter;
}

.iconUsage {
    cursor: pointer;
    transition: .2s filter;
}

.containerVideo img:hover, .iconUsage:hover {
    filter: brightness(75%);
}

.titleVideo {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}

.authorName {
    font-weight: bold;
    color: var(--tertiaryText);
}