.container {
	width: 100%;
	height: fit-content;
	justify-content: center;
}

.containerInput {
    position: relative;
    padding: 0 0 0 0;
    margin: 20px auto;
    width: 300px;
}

.searchIcon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.searchInput {
    height: 30px;
    margin: 0;
    border: 0;
    padding-right: 40px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    color: var(--text);
    background: var(--secundaryBackground);
    border-radius: 2px 20px;
}

.containerInput svg {
	cursor: pointer;
}

.containerVideos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    padding: 10px;
    grid-gap: 10px;
}
