:root {
    --primary: #957FEF;
    --secundary: #6272a4;
    --tertiary: #ff79c6;
    --fourth: #6272a4;
    
    --primaryBackground: #282a36;
    --secundaryBackground: #44475a;
    
    --text: #f8f8f2;
    --secundaryText: #bd93f9;
    --tertiaryText: #f1fa8c;
    --fourthText: #f1fa8c;
    --fifthText: #ff79c6;
    --inverseText: #333333;
    
    --light: #fafafa;
    --dark: #282a36;
    --darkTwo: #44475a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    user-select: none;
}

body, html {
    width: 100%;
    background: var(--primaryBackground);
    color: var(--text);
}

textarea:focus, input:focus{
    outline: none;
}

::placeholder {
    color: var(--text);
}

:-ms-input-placeholder {
    color: var(--text);
}

::-ms-input-placeholder {
    color: var(--text);
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    border-radius: 7px;
}

::-webkit-scrollbar-track {
    background: var(--tertiary);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--secundary);
    border-radius: 7px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--fourth);
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: var(--tertiary);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--fourth);
}
input[type=range]::-moz-range-track {
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--fourth);
    border-radius: 25px;
    border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: var(--tertiary);
    cursor: pointer;
}
input[type=range]::-ms-track {
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 5px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: var(--fourth);
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: var(--fourth);
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: var(--tertiary);
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: var(--fourth);
}
input[type=range]:focus::-ms-fill-upper {
    background: var(--fourth);
}

.resetLink {
    text-decoration: none;
    color: var(--text);
}
