.playlist {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    border-top-right-radius: 25px;
    background: var(--secundaryBackground);
    box-shadow: 3px 3px 6px 0 var(--primaryBackground);
    transition: .2s filter;
    cursor: pointer;
}

.playlist:hover {
    filter: brightness(75%);
}

.playlistTitle {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

.thumbnailPlaylist {
    height: fit-content;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
    column-gap: 2px;
}

.thumbnailPlaylist img {
    width: 100%;
    border-radius: 5px;
    filter: brightness(75%);
    border: 1px solid var(--primaryBackground);
}
