.containerVideo {
    break-inside: avoid;
    padding: 10px;
    background: var(--secundaryBackground);
    border-radius: 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.containerVideo img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s filter;
}

.iconUsage {
    cursor: pointer;
    transition: .2s filter;
}

.containerVideo img:hover, .iconUsage:hover {
    filter: brightness(75%);
}

.titleVideo {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.authorName {
    font-weight: bold;
    color: var(--tertiaryText);
}

.videoOptions {
    position: absolute;
    background: var(--secundary);
    bottom: -15px;
    right: -15px;
    z-index: 999999999;
    padding: 5px;
}

.MuiPaper-root {
    background: #282a36 !important;
    color: #bd93f9 !important;
}

.cancel .MuiMenuItem-root {
    background: #282a36 !important;
    color: #e02041 !important;
}
