.control {
    width: 100%;
    height: 95px;
    display: flex;
    background: var(--secundaryBackground);
    position: fixed;
    bottom: 0;
}

.thumbnail {
    height: 72px;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    transition: .2s filter;
}

.thumbnail:hover {
    filter: brightness(75%);
}

.columnControl {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.title {
    margin-top: calc((95px - 72px) / 2);
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
}

.iconPlay {
    background: var(--secundaryBackground);
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
    align-self: center;
    transition: .2s filter;
}

.iconPlay:hover {
    filter: brightness(75%);
}

.progressBar {
    width: 100%;
    height: 3px;
    margin: 5px 0;
    transition: .1s all;
}

.containerInformation {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.iconVolume {
}