.control {
    width: 100%;
    height: 95px;
    display: flex;
    background: var(--secundaryBackground);
    position: fixed;
    bottom: 0;
}

.thumbnail {
    height: 72px;
    margin-left: 15px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    box-shadow: 3px 3px 6px 0 var(--primaryBackground);
    transition: .2s filter;
}

.thumbnail:hover {
    filter: brightness(75%);
}

.columnControl {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.title {
    margin-top: calc((95px - 72px) / 2);
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
}

.iconPlay {
    background: var(--secundaryBackground);
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
    align-self: center;
    transition: .2s filter;
}

.iconPlay:hover {
    filter: brightness(75%);
}

.progressBar {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    transition: .1s all;
}

.containerInformation {
    display: flex;
    align-items: center;
    height: fit-content;
    align-self: center;
    flex-direction: column;
    margin: 0 10px;
    margin-right: 20px;
}

.iconVolume {
    cursor: pointer;
}

.volumeContainer {
    display: none;
    transform: rotateZ(-90deg);
    padding: 0 0 0 10px;
    position: absolute;
    top: -82px;
}

.volumeControl {
    background: var(--primaryBackground);
    padding: 13px 10px 13px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.volumeIndication {
    transform: rotateZ(90deg);
    width: 38.67px;
    height: 19px;
    text-align: center;
    align-self: center;
}

.containerInformation:hover .volumeContainer {
    display: block !important;
}

.controlVelocity {
    height: fit-content;
    align-self: center;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s text-shadow;
}

.controlVelocity:hover {
    text-shadow: 0 0 2px #fff;
}